body{
      margin:0px;
      box-sizing: border-box;
}
#MainHeading{
      background-color:blue;
      width:100%;
      height:40px;
      color:white;
      text-align:center;
      font-weight: bold;
      margin:0px;
      box-sizing: border-box;
      padding:5px;
      position:fixed;
      top:0;
      left:0;
      font-size:25px;
      display:block;
      float:left;
}

#MainContent{
      width:100%;
      height:calc(100% - 50px)
}

#footer{
      background-color:rgb(36,36,36);
      width:100%;
      height:60px;
      color:white;
      text-align:center;
      font-weight: bold;
      margin:0px;
      box-sizing: border-box;
      padding:0px;
      position:fixed;
      bottom:0;
      left:0;
      font-size:10px;
      display:block;
      float:left;
}

#footer>div{
      width:60px;
      height:60px;
      margin-left:auto;
      margin-right:auto;
}

#footer>div:hover{
      background-color: #444;
}

#footer>div>img{
      height:40px;
}

#footer>div>p{
      height:20px;
      padding:0px;
      margin:0px;
}

#boardItem{
      width:200px;
      height:200px;
      color:black;
      margin:10px;
      display:block;
      box-sizing:border-box;
      float:left;
      word-wrap: break-word;

      padding:4px;
      border:1px solid #ccc;
      box-shadow: rgb(137, 137, 137) 4px 6px 20px 0px;
      box-sizing:content-box;
}